
/* .active{
    background-color: orange;
    text-decoration: none;
    color:black;
    display: flex;
    
}

.nav{
    text-decoration: none;
    color:black;
}
*{

    margin: 0;
    padding: 0;

}
.collapse{
    display: flex;
    display: block;

    
} */

